<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="bootsrap-modal.js"></script>
	<link rel="stylesheet" href="static2.css" />

</head>

<body>	
	<div id="container">
	
		
		<div id="header">
		
		<div id="right_top">
				
				<form action="/post/" method="post">
                 {% csrf_token %}
              		<textarea name="text"></textarea>
					<div></div>
					<button class="submitButton">
					POST
					</button>
				
                 
           		 </form>
		
			</div>
			
			<img src="profpic.jpg" />
				
			<div id="left_top">
				Peter Zakin 

			</div>
			
			
			
				
			
		</div>
		
		{% for post in get_feed_posts %}
		<div class="content-container">
				
				<div class='post'>
					<img src="{{post.picture}}" />
					<div class="author">
					{{post.author}}
					</div>
					{{post.message}} 
				</div>
		</div>
		{% endfor %}
		
		
			
	</div>
</body>