.member{
	border: solid thin #ccc;
	#display: inline;
	-moz-border-radius: 3px;
	-webkit-border-rdaius: 3px;
	overflow: none;
	width: 120px;
	text-align: center;
	float: left;
	margin: 10px;
	position:relative;
}

.member img{
	padding: 6px;
	width: 100px;
	height:80px;
	display: inline;
}

.memberName{
	color: #424242;
	text-align: center;
	font-size: 16px;
	font-weight:600;
	margin-bottom:6px;
}

.addFriend{
	background: #899ECB;
	color:#f2f2f2;
	position:absolute;
	top: 77px;
	left:10px;
	font-size:14px;
	font-weight:500;
	width:100px;
	
}