			<!-- Admin Games Info -->
			<div class="sidebar-game-list-title">My Admin Games</div>
			<div class="sidebar-game-list">
			  {% for game in games_leading %}	
				<div class="card">
					<div class="cardTooltip">
						<div class="icon" style="background-repeat: no-repeat; 
												 height: 150px; width: 150px; 
												 background-size: cover; display: block;">
						</div>
						<div class="game-title">{{ game.name }}</div>
						<div class="game-sport">{{ game.get_sport_display }} </div><br>
						<div class="textual-info">
							<br>
							Style : {{game.style}} <br>
							Location : {{ game.location }}<br>
							Date and Time : {{ game.game_datetime }}<br>
							Notes : {{ game.notes }}<br>
							Players : {{game.min_number_players}} - {{game.max_number_players}}<br>	
						</div>
			        <form action="/leaveGame/" method="post">
			          {% csrf_token %}
			          <button>Leave Game</button>
			          <input type="hidden" name="game_to_leave_name" value={{game.name}} />
			        </form>
					<a href="#" class="switchToGame">Game Page</a>
					</div>
					<div class="icon">
					<img src="/static/images/skill.png" alt="skill" class="skill">
					</div>
					<div class="card-text">
						<div class="card-date">{{ game.game_datetime }}</div>
						<br>
						<div class="card-location">{{ game.location }}</div>
						<br>
					<!--	<div class="card-capacity">{{ game.players.count }} / {{ game.max_number_players }}</div> -->
					</div>
				</div>
  			{% endfor %}
			</div>

			<!-- Joined Games Info -->
			<div class="sidebar-game-list-title">Joined Games</div>
			<div class="sidebar-game-list">
			  {% for game in games_playing %}	
				<div class="card">
					<div class="cardTooltip">
						<div class="icon" style="background-repeat: no-repeat; 
												 height: 150px; width: 150px; 
												 background-size: cover; display: block;">
						</div>
						<div class="game-title">{{ game.name }}</div>
						<div class="game-sport">{{ game.get_sport_display }} </div><br>
						<div class="textual-info">
							<br>
							Location : {{ game.location }}<br>
							Date and Time : {{ game.game_datetime }}<br>
							Notes : {{ game.notes }}<br>
							Players : {{game.min_number_players}} - {{game.max_number_players}}<br>	
						</div>					
					<a href="#" class="join-button">Join</a>
					<a href="#" class="game-page-button">-></a>
					</div>
					<div class="icon">
					<img src="/static/images/skill.png" alt="skill" class="skill">
					</div>
					<div class="card-text">
						<div class="card-date">{{ game.game_datetime }}</div>
						<br>
						<div class="card-location">{{ game.location }}</div>
						<br>
					<!--	<div class="card-capacity">{{  game.players.count }} / {{ game.max_number_players }}</div> -->
					</div>
				</div>
  			{% endfor %}
			</div>
		</div>