<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <!-- script src="bootsrap-modal.js"></script> --> 
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/directory.css" />
        <script>        
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ fbappid }},
      status     : true, 
      cookie     : true,
      xfbml      : true
    });

    // Additional initialization code here
    FB.ui(
    { 
        method: 'friends.add', 
        id: 1063170263 
        }, 
        function(param){
        
        console.log(param);
        
        // If they cancel params will show: 
        //    {action:false, ...}
        // and if they send the friend request it'll have:
        //    {action:true, ...}
        // and if they closed the pop-up window then:
        //    param is undefined
        }
   );
   };
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
        
        
        </script>
        
        
</head>

<body>
        <div id="fb-root"></div>
  
   {% include 'nav.html' %}
  
  <div class="break">
    
    </div>

  <div id="container">
    
    


    
    
    
    <div class="heading">
      Sophomores
      </div>

    {% for user in sophomore_list %}
    {% if user.authenticated %}
	<div class="member">
	      <img src= {{user.largepic}} /> 
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>
	   
	</div>
        {% endif %}        
        {% endfor %}

    <div class="heading">
      Juniors
      </div>

    {% for user in junior_list %}
    {% if user.authenticated %}
	<div class="member">
	      <img src= {{user.largepic}} /> 
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>
	</div>
        {% endif %}        
        {% endfor %}

    <div class="heading">
      Seniors
      </div>

    {% for user in senior_list %}
    {% if user.authenticated %}
	<div class="member">
	      
	      <img src= {{user.largepic}} /> 
	       
	      <div class="addFriend" onclick="friendrequest()">
	      	Add Friend
	      </div>
	      
	      
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>

	</div>
        {% endif %}        
        {% endfor %}
    
    
    
    </div>
</body>
</html>
