<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/directory.css" />
        <script src="/static/js/directory.js"></script>
        
        
</head>

<body>
        <div id="fb-root"></div>
  
   {% include 'nav.html' %}
  
  <div class="break">
    
    </div>

<div id="main">
  <div id="container">
    
<div id="data" display="none">
<input type="hidden" value="{{fbappid}}" />
</div>    


    
    
    
    <div class="heading">
      Sophomores
      </div>

    {% for user in sophomore_list %}
    {% if user.authenticated %}
	<div class="member">
	      <img src= {{user.largepic}} /> 
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>
	   
	</div>
        {% endif %}        
        {% endfor %}

    <div class="heading">
      Juniors
      </div>

    {% for user in junior_list %}
    {% if user.authenticated %}
	<div class="member">
	      <img src= {{user.largepic}} /> 
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>
	</div>
        {% endif %}        
        {% endfor %}

    <div class="heading">
      Seniors
      </div>

    {% for user in senior_list %}
    {% if user.authenticated %}
	<div class="member">
	      
	      <img src= {{user.largepic}} /> 
	       
	      <div class="addFriend">
	      	Add Friend
                <input type="hidden" value="{{user.fbid}}" />
	      </div>
	      
	      
	      <div class="memberName">
	      	{{user.firstname}} {{user.lastname}}
	      </div>

	</div>
        {% endif %}        
        {% endfor %}
    
    
    
    </div>
    </div>
</body>
</html>
