<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Web F. Site</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/splash.css" />    
  </head>

  <body>

    <div id="navigation">
      <div class="splashTop">
  	Something went wrong! 
      </div>
      
      
     <p style="color: #fafafa"> {{ error.text }} </p>
      
      
    </div>
    
    <div class="facebookLogin">
        <a href="/home/">                          
	Return home!
	</a>
    
    </div>
    
  </body>
</html>
