<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<!-- script src="bootsrap-modal.js"></script> --> 
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
</head>

<body>	
	<div id="container">
		<div id="header">
		<div id="right_top">
				
				<form action="/post/" method="post">
                 {% csrf_token %}
              		<textarea name="text"></textarea>
					<div></div>
					<button class="submitButton">
					POST
					</button>
           		 </form>
			</div>
			
			<img src="/static/images/profpic.jpg" />
				
			<div id="left_top">
				Peter Zakin 

			</div>
		</div>
		
		{% for post in post_list %}
		<div class="content-container">
            <!-- as of now, anyone can delete -->
            <form action="/deletePost/" method="post">
            {% csrf_token %}
               <button class="submitButton">
               delete
               </button>
               <div class='post'>
					<img src="{{post.picture}}" />
					<div class="author">
					Peter Zakin
					</div>
					{{post.text}} 
				</div>
            </form>
		</div>
		{% endfor %}
		
		
			
	</div>
</body>
