<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  

 <script src="http://code.jquery.com/jquery-latest.js"></script>
 <!-- script src="bootsrap-modal.js"></script> --> 
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script>
        $(document).ready(function(){
		
			$('textarea').focus(function(){
				if (this.value == "Post new message") {
					$('textarea').css("height", "40px");
					$('.submitButton').css("display", "inline");
					$('textarea').css("color", "black");
					$('textarea').attr("value", "");
				}
			});
			
			$('textarea').blur(function(){
			   if (this.value == "") {
					$('textarea').css("height", "20px");
					$('.submitButton').css("display", "none");
					$('textarea').css("color", "#ccc");
					$('textarea').attr("value", "Post new message");
				}
			});
		
			$('.content-container').click(function(event){
				var $target = $(event.target);
				if($target.is(".action")){
					$('.commentBox', this).css("display", "block");
				}
			});
			
	
			
        });
        
        
        
        </script>
        
        
</head>

<body>
  
 <!-- <div id="navigation">
    <div id="top">
      
      <div class="smallItem">
	Logout
	</div>
      
      <div class="smallItem">
	Directory
	</div>
      
      
      
      <img src= {{curUser.pic}} /> 
      <div class="topName"> {{ curUser.firstname}} {{ curUser.lastname }}</div>
      </div>
    </div>-->
  {% include 'nav.html' %}
  <div class="break">
    
    </div>

  <div id="container">
    
    


    
    
    
    <div class="heading">
      Feed
      </div>
    
    <div id="header">
      
      
      <form action="/post/" method="post">
                 {% csrf_token %}
		 <textarea name="text">Post new message</textarea>
		 <button class="submitButton">
		   POST
		   </button>
		  </form>
      </div>
    
    {% for post in post_list %}
    <div class="content-container">
      <div class='post'>
        <form action="/deletePost/" method="post">
          {% csrf_token %}
          {% if post.author == curUser or curUser.admin == 'BAMF' %}
          <button class="deleteButton">
            X
          </button>
          {% endif %}   
          <input type="hidden" name="post" value={{ post.pk }} />
	  <img src={{post.author.pic}} />
	  <div class="author">
            {{ post.author.firstname }} {{ post.author.lastname }}
	  </div>
          <div class="posttext">
	    {{post.text|linebreaksbr}} 
	  </div>
          {% if post.hasvideo %}
          <iframe class="youtube-player" type="text/html" width="400"
          height="300" src="http://www.youtube.com/embed/{{post.youtubeid}}"
          frameborder="0">
          </iframe>
          {% endif %}
          <div class="clear">
          </div>
        
        <div class="postActions">
        	
        		<span class="action">
        		Comment
        	</span>
        </div>
        
        
        
        <div class="commentBox">
        	<textarea class="commentPrompt"> </textarea>
        	
        {% for comment in comment_list %}
        	<div class="comment">
        		<div class="commentAuthor">
        			{{ comment.author }}
        		</div>
        		<div class="commentText">
        			{{ comment.text }}
        		</div>
        	</div>
        {% endfor %}
        
        </div>
      </div>
      </form>
    </div>
    {% endfor %}
    
    
    
    </div>
</body>
</html>
