<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  

 <script src="http://code.jquery.com/jquery-latest.js"></script>
 <!-- script src="bootsrap-modal.js"></script> --> 
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script src="/static/js/main.js"></script>
    
        
        
</head>

<body>
  
 <!-- <div id="navigation">
    <div id="top">
      
      <div class="smallItem">
	Logout
	</div>
      
      <div class="smallItem">
	Directory
	</div>
      
      
      
      <img src= {{curUser.pic}} /> 
      <div class="topName"> {{ curUser.firstname}} {{ curUser.lastname }}</div>
      </div>
    </div>-->
  {% include 'nav.html' %}
  <div class="break">
    
    </div>

  <div id="container">
    
    


    
    
    
    <div class="heading">
      Feed
      </div>
    
    <div id="header">
      
      
      <form action="/post/" method="post">
                 {% csrf_token %}
		 <textarea name="text" class="postPrompt">Post new message</textarea>
		 <button class="submitButton">
		   POST
		   </button>
		  </form>
      </div>
   
            
    
    
    {% for post in post_list %}
    <div class="content-container">
      <div class='post'>
        <form action="/deletePost/" method="post">
          {% csrf_token %}
          {% if post.author == curUser or curUser.admin == 'BAMF' %}
          <button class="deleteButton">
            X
          </button>
          {% endif %}   
          <input type="hidden" name="post" value={{ post.pk }} />
          
           </form>
	  <img src={{post.author.pic}} />
	  <div class="author">
            {{ post.author.firstname }} {{ post.author.lastname }} 
	  </div>
          <div class="posttext">
	    {{post.text|linebreaksbr}} 
	  </div>
          {% if post.hasvideo %}
          <iframe class="youtube-player" type="text/html" width="400"
          height="300" src="http://www.youtube.com/embed/{{post.youtubeid}}"
          frameborder="0">
          </iframe>
          {% endif %}
          <div class="clear">
          </div>
        
        <div class="postActions">
        	
        		<span class="action">
        		Comment
        	</span>
        </div>
        
        
        
        <div class="commentBox" {% if post.comment_set.all %} style="display:block" {% endif %}>
        
              {% for comment in post.comment_set.all %}
        	<div class="comment">
        		<img src="{{comment.author.pic}}" />
        		<div class="commentAuthor">
        			{{ comment.author.firstname }} {{ comment.author.lastname }}
        		</div>
        		<div class="commentText">
        			{{ comment.text }} 
        		</div>
        	</div>
        {% endfor %}
        
            <form action="/postComment/" method="post">
          {% csrf_token %}
			<input type="hidden" name="parentPost" value={{ post.pk }} />
        	<textarea class="commentPrompt" name="commenttext">Write a comment...</textarea>
        
        	</form>
        	
  
        </div>
      </div>
     
    </div>
    {% endfor %}
    
    
    
    </div>
</body>
</html>
