<!DOCTYPE html>
<html>
  <head>
    <title>PickUpSticks</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <link rel=stylesheet href="/static/css/style.css" type="text/css" media=screen>
  </head>
  <body>
  	<div id="sidestream">
		<div id="sidebar">
			<div class="profile-pic">
				<img src="/static/images/profile-pic.png" alt="you">
				<span id="username"> Samantha Swee Merritt </span> 
				<div id="stars">
					<img src="/static/images/star.png" alt="star">
					<img src="/static/images/star.png" alt="star">
					<img src="/static/images/star.png" alt="star">
					<img src="/static/images/star.png" alt="star">
					<img src="/static/images/star.png" alt="star">
				</div>
			</div>
			<div class="sidebar-break"></div>
			<div class="sidebar-game-list-title">Friends Games</div>
			<div class="sidebar-game-list">
				<div class="card">
					<img src="/static/images/icon.png" alt="icon">
					<div class="cardTooltip"></div>
				</div>
	<!--
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
	-->
			</div>
			<div class="sidebar-game-list-title">Friends Games</div>
			<div class="sidebar-game-list">
	<!--
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
				<div class="card">
					<div class="cardTooltip">
					</div>
				</div>
	-->
			</div>

			<div id="sidebar-options">
				<table>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="arrow">
			<img src="/static/images/left-arrow.png" alt="arrow">
		</div>
	</div>
	<div id="arrow-hover"></div>
  </body>
</html>