<div id="lobby" class="search-field">

<div class="filters">
	<form name="filter" action="/renderFilteredLobby/" method="post">
		{% csrf_token %}
		<div class="styled-select">
			<select name="sport">
				<option value="bskt">Basketball</option>
				<option value="tnns">Tennis</option>
				<option value="sccr">Soccer</option>
			</select>
		</div>
		<div class="styled-select" style="float:right;">
			<select name="style" class="styled-select">
				<option value="comp">Competitive</option>
				<option value="casu">Casual</option>
			</select>
		</div>
		<input type="submit" value="Filter">
	</form>
</div>


<div class="games-grid">

{% for game in lobby_games %}	
<div class="box">
</div>
{% endfor %}

</div>

</div>