<div id="lobby" class="search-field">

<div class="filters" style="background: url('/static/images/logo.png') no-repeat;
	background-position: bottom left;">
	<form name="filter" action="/renderFilteredLobby/" method="post">
		{% csrf_token %}
		<div class="styled-select">
			<select name="sport" class="lobbySetSport">
				<option value="any">Any</option>
				<option value="bskt">Basketball</option>
				<option value="tnns">Tennis</option>
				<option value="sccr">Soccer</option>
			</select>
		</div>
		<br><br>
		<div class="styled-select">
			<select name="style" class="lobbySetStyle">
				<option value="either">Either</option>				
				<option value="comp">Competitive</option>
				<option value="casu">Casual</option>
			</select>
		</div>
		<br><br>
		<input class="button" type="submit" value="Filter" style="float: right;">
	</form>
</div>


<div class="games-grid">

{% for game in lobby_games %}	
<div class="box">
</div>
{% endfor %}

</div>

</div>