<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <!-- script src="bootsrap-modal.js"></script> --> 
        <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
        <script>
        $(document).ready(function(){
        
        $('textarea').focus(function(){
        if (this.value == "Post new menu") {
        $('textarea').css("height", "40px");
        $('.submitButton').css("display", "inline");
        $('textarea').css("color", "black");
        $('textarea').attr("value", "");
        }
        });
        $('textarea').blur(function(){
        if (this.value == "") {
        $('textarea').css("height", "20px");
        $('.submitButton').css("display", "none");
        $('textarea').css("color", "#ccc");
        $('textarea').attr("value", "Post new menu");
        }
        });        
			$('.content-container').click(function(){
				$(this > '.deleteButton').css("visibility", "visible");
			
			
			});
        
        
        });
        
        
        
        </script>
        
        
</head>

<body>
  
 <!-- <div id="navigation">
    <div id="top">
      
      <div class="smallItem">
	Logout
	</div>
      
      <div class="smallItem">
	Directory
	</div>
      
      
      
      <img src= {{curUser.pic}} /> 
      <div class="topName"> {{ curUser.firstname}} {{ curUser.lastname }}</div>
      </div>
    </div>-->
  {% include 'nav.html' %}
  <div class="break">
    
    </div>

  <div id="container">
    
    <div class="heading">
      Menu 
      </div>
    
    {% if postPerm %}  
    <div id="header">
      <form action="/postMenu/" method="post">
                 {% csrf_token %}
		 <textarea name="text">Post new menu</textarea>
		 <div></div>
		 <button class="submitButton">
		   POST NEW MENU
		   </button>
		  </form>
     </div>
     {% endif %}
    
    {% for menu in menu_list %}
    <div class="content-container">
            <div class='menu'>
            <form action="/deleteMenu/" method="post">
            {% csrf_token %}
            {% if postPerm %}
               <button class="deleteButton">
               X
               </button>
            {% endif %}   
            <input type="hidden" name="postMenu" value={{ menu.pk }} />
            
<!--		         <img src={{menu.author.pic}} /> -->
<!--
         <div class="author">
                  {{ post.author.firstname }} {{ post.author.lastname }}
          </div>
          -->
		        {{menu.text|linebreaksbr}} 
		 </div>
            </form>
  </div>
  {% endfor %}
    
    
    
    </div>
</body>
</html>
