<div id="navigation">
    <div id="top">
      
      <div class="smallItem">
		<a href="/logout/">	Logout </a>
	</div>
     {% if curUser.admin == 'BAMF' %} 
	   <div class="smallItem">
		<a href="/newuser/">	New User </a>
	</div>
           {% endif %}
      <div class="smallItem">
		<a href="/directory/">	Directory </a>
	</div>
	<div class="smallItem">
		<a href="/announcements/">	 Announcements </a>
	</div>

	<div class="smallItem">
		<a href="/menu/">	Food </a>
	</div>
	   <div class="smallItem">
		<a href="/home/">	Home </a>
	</div>
   
      
      
      <img src= {{curUser.pic}} /> 
      <div class="topName"> {{ curUser.firstname}} {{ curUser.lastname }}</div>
      </div>
</div>
